In [3]:
import pandas as pd
from isitgoingtohell.data_management.db_management import Database as DB
from isitgoingtohell.scrapers.pipelines import REGIONS
from isitgoingtohell.utils import load_csv
from isitgoingtohell.graph.graph import Graph
from isitgoingtohell.label_analysis.label_analysis import Statistics

TABLENAME = 'geography'

db = DB()
query = f"SELECT * FROM {TABLENAME} WHERE EXTRACT(MONTH FROM date) = 11 AND EXTRACT(YEAR FROM date) = 2022"
db.cur.execute(query)
data = db.cur.fetchall()
stats = Statistics(data)
stats.dataframe

         date      region          label
0    0.500000  2022-11-18         africa
1    0.578947  2022-11-19         africa
2    0.666667  2022-11-25         africa
3    0.566667  2022-11-26         africa
4    0.000000  2022-11-15           asia
..        ...         ...            ...
225  0.363636  2022-11-19  south america
226  1.000000  2022-11-23  south america
227  0.000000  2022-11-24  south america
228  0.500000  2022-11-25  south america
229  0.500000  2022-11-26  south america

[230 rows x 3 columns]

In [ ]:
old = [{'region': 'africa',
  'score': 0.6551724137931034,
  'calculation_date': '2022-12-30',
  'number_of_labels': 29}]
new = [{'region': 'africa',
'score': 0.3870967741935484,
'calculation_date': '2022-12-30',
'number_of_labels': 31}]

my_list=[]
for item_old in old:
    for item_new in new:
      if item_old['region'] == item_new['region']:
        new_item={}
        new_item['region']=item_old['region']
        score = (item_new['score']*item_new['number_of_labels'])+(item_old['score']*item_old['number_of_labels'])
        count= item_new['number_of_labels']+item_old['number_of_labels']
        new_item['score']=score/count
        my_list.append(new_item)
my_list

In [ ]:


data = [
    {'region': 'africa', 'date': '2022-11-18', 'score': 0.5},
    {'region': 'africa', 'date': '2022-11-19', 'score': 0.5882352941176471}, 
    {'region': 'asia', 'date': '2022-11-17', 'score': 0.3333333333333333}
]
columns = ['item', 'sd']
groupings=['region','date']
#da.calculate_ratio(groupings)
len(data)

In [ ]:
# Fix bug where country in Africa is France.

In [ ]:
# Prettify graph.

In [ ]:
# Create web-scrapers for more news-sites, matching output. I.e., scale it.